<!DOCTYPE html>
<html>
  <head>
    <title>UIAztecmun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Comfortaa', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  function votacion(titulo){
      $("#time").hide();
      $("#votacion").show()
      $("#tituloVotacion").text(titulo);
  }
  function votar(comite){
      tipo = $("#tituloVotacion").text();
      console.log($("#aFavor").val());
      aFavor = parseInt($("#aFavor").val());
      contra = parseInt($("#contra").val());
      abstencion = parseInt($("#abstencion").val());
      pasa = true;
      if(comite == "CIJ"){
          if (aFavor > contra) {
              if (tipo == "Receso Parlamentario") {
                  swal({
                      title: "La mocion pasa",
                      text: "Pueden salir",
                      type: "success",
                      html: '<%= link_to "Continuar", cerrar_path("CIJ"), :class => "waves-effect waves-light btn" %>',
                      showConfirmButton: false
                  });
              }
          }else {
              if (tipo == "Receso Parlamentario") {
                  swal({
                      title: "La mocion no pasa",
                      text: "Repetir votación",
                      type: "error"
                  }).then(function() {
                      $("#time").show();
                      $("#votacion").hide();
                  });
              }
          }
      }
  }
  function aniadirPresentes(){
      $("#time").hide();
      $("#votacion").hide()
      $("#lista").show();
  }
  </script>
</html>
